.user-list {
  padding: 12px;
  
  .user-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.selected {
      .user-avatar {
        background: lightblue;
      }
    }

    .text {
      width: 200px;
      text-align: left;
      padding: 8px;
      
      .user-name {
        font-weight: 28px;
        font-weight: bold;
        margin-bottom: 0;
      }
  
      .last-message {
        font-weight: 14px;
        margin-bottom: 0;
        color: gray;
      }
    }
  }
}