@import '~antd/dist/antd.css';

body {
  background-image: repeating-linear-gradient(transparent, transparent 2px, white 1px, white 20px), repeating-linear-gradient(
    90deg, transparent, transparent 50px, black 52px, black 52px, transparent 52px, transparent 76px, black 78px, black 78px, transparent 78px, transparent 150px);
}

.App {
  width: 100vw;
  height: 100vh;
  padding: 4% 5%;
  text-align: center;

  .main-board {

    .chat-header {
      padding: 0 100px;
      margin-bottom: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      .title {
        font-weight: 500;
        font-size: 40px;
      }
      .sub-title {
        font-size: 18px;
        color: gray;
      }
    }

    .chat-body {
      padding: 0 100px;

      .body-title {
        font-weight: 500;
        font-size: 32px;
      }
    }
  }

  .conversation-list {
    padding: 20px 40px;
    text-align: left;
   
    .title {
      font-weight: 500;
      font-size: 40px;
    }

    .conversation-item {
      display: flex;
      align-items: center;
      padding: 4px;
      background: white;
      margin: 20px 0;
      cursor: pointer;

      &.selected {
        background: lightblue;
      }

      .text {
        margin-left: 12px;

        p, .user-name {
          margin-bottom: 0;
        }
      }
    }
  }

  .nav-header {
    display: flex;
    align-items: center;
  }

  .icon-button {
    position: absolute;
    left: 30px;
    
    span.anticon {
      font-size: 28px;
      color: gray;
    }
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 100px;
    width: 100vw;

    &.flex {
      display: flex;
      justify-content: right;

      .footer-input {
        width: 400px;
        margin-right: 80px;
      }
    }

    .action-buttons {
      text-align: right;
      margin-right: 80px;
    }

    .btn-app, .input-app {
      border-color: black;
      box-shadow: 1px 1px 1px 0px;
      border-radius: 6px;
    }
    
  }

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
